:root {
  --accent-color: #ea572a;
  --accent-color-two: #e39828;
  --background-color: #efbc9c;
  --dark-color: #0b3f30;
  --light-color: #ebd5b8;
}
body {
  background-color: var(--background-color);
  color: var(--dark-color);
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  text-align: center;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
.header a {
  color: var(--dark-color);
  font-family: "Space Mono", monospace;
  font-weight: 500;
  text-decoration: none;
}
a:hover,
.header:hover {
  text-decoration: underline;
}
h1 {
  background-color: rgba(11, 63, 48, 20%);
  width: max-content;
  margin: 0 auto;
  padding: 10px 10px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  line-height: 40px;
}
h2 {
  color: var(--accent-color);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  line-height: 25px;
  margin-top: 10px;
}
h3 {
  margin-top: 5px;
}
p {
  font-size: 16px;
  line-height: 28px;
  opacity: 75%;
}
button {
  background-color: var(--accent-color-two);
  border: 2px solid var(--dark-color);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(193, 199, 215, 0.2);
  color: var(--dark-color);
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
}
button:hover {
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.05, 1.05);
}
hr {
  border: 1px solid var(--accent-color-two);
  margin-top: 20px;
}

footer {
  margin: 30px auto;
}

.wrapper {
  background-color: var(--light-color);
  border: 4px solid var(--accent-color-two);
  border-radius: 50px;
  padding: 40px;
  max-width: 100%;
}
.profile-pic {
  border-radius: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
}
.title {
  font-style: italic;
  font-weight: 500;
}

.projects {
  border: 2px solid var(--dark-color);
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(193, 199, 215, 0.2);
  width: 300px;
}
.projects:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.footer-icons a:hover {
  text-decoration: none;
  transform: scale(1.05, 1.05);
}
@media (max-width: 576px) {
  .about-me-paragraph {
    text-align: center;
  }
  button:hover {
    transform: none;
  }
  .projects:hover {
    transform: none;
  }
}
