:root {
  --accent-color: #766585;
  --accent-color-two: #b5779e;
  --background-color: #998daf;
  --light-color: #e6c8d8;
}
body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.hero {
  background-image: linear-gradient(
      rgba(80, 76, 109, 0.3),
      rgba(80, 76, 109, 0.4)
    ),
    url(/media/hero-clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  padding: 100px;
  color: white;
}
.hero h2 {
  font-weight: 400;
  font-size: 40px;
}
.hero h3 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}
.title {
  font-style: italic;
}
h1 {
  font-size: 96px;
  font-weight: 700;
}
h2 {
  font-size: 60px;
  font-weight: 700;
}
h3 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 75%;
}
button {
  background-color: var(--accent-color-two);
  border: 2px solid var(--light-color);
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(193, 199, 215, 0.2);
  color: var(--light-color);
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
}
button:hover {
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.05, 1.05);
}
a {
  color: var(--accent-color);
}
footer a {
  text-decoration: none;
}
a:hover,
.header:hover {
  text-decoration: underline;
}
hr {
  border: 1px solid var(--accent-color);
  margin-top: 20px;
}

footer {
  margin: 20px auto;
}
.recent-projects {
  background-color: var(--light-color);
  padding: 50px;
}
.projects {
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(193, 199, 215, 0.2);
  width: 300px;
}
.projects:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}
.profile-pic {
  border-radius: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 350px;
}
.about-me-paragraph {
  text-align: left;
}
.footer-icons a:hover {
  text-decoration: none;
  transform: scale(1.05, 1.05);
}
@media (max-width: 860px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h3 {
    font-size: 12px;
  }
  .title {
    font-style: normal;
  }
  .about-me-paragraph {
    text-align: center;
  }
  button:hover {
    transform: none;
  }
  .projects:hover {
    transform: none;
  }
}
